{{- define "main" }}
<div class="writing-page">
    {{- $posts := where site.RegularPages "Section" "posts" }}
    {{- $posts = where $posts "Params.booknote" "!=" true }}
    {{- range $posts.GroupByDate "2006" }}
    <section class="writing-year">
        <h2 class="writing-year-title">{{ .Key }}</h2>
        <ul class="post-list">
            {{- range .Pages.ByDate.Reverse }}
            <li class="post-item">
                <a href="{{ .RelPermalink }}">
                    <span class="item-title">{{ .Title }}</span>
                    <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format (site.Params.DateFormat | default "2006-01-02") }}</time>
                </a>
            </li>
            {{- end }}
        </ul>
    </section>
    {{- end }}
</div>
{{- end }}
